* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
  
}

body {
	font-family: 'Poppins', sans-serif;
  background-color: #e6dec1;
	
}
button {
	font-family: 'Poppins', sans-serif;
}
section {
  min-height: 100%;
  padding:1px;
}
header {
position: sticky;
  top: 2%;
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
	  
}
footer{
  position: sticky;
  bottom: 2%;
	display: flex;
	width: 30%;
	height: 10vh;
	margin: 2% 35%;
	align-items: center;
}


.logo-container,
.nav-links {
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 700;
	margin: 5px;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}
nav {
	flex: 2;
  margin-right: 5px;
  position: sticky;
}
.nav-links {
	justify-content: space-evenly;
	list-style: none;
}
.nav-link {
	color: #333;
	font-size: 18px;
	text-decoration: none;
}


.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
  
}
.introduction {
	flex: 1;
}
.intro-text h1 {
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, #333, #333);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.intro-text p {
	margin-top: 5px;
	font-size: 22px;
	color: #333;
}
.cta {
	padding: 50px 0px 0px 0px;
}

.cta-add {
	background: #9fb18e;
	width: 150px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin: 30px 0px 0px 0px;
  text-decoration: none;
}
.cta-add:hover, .cta-add:active {
  color:#333;
 
}
a{
  color: #333;
	font-size: 18px;
	;
}
.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 60vh;
}
.cover img {
	height: 100%;
	filter: drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
}

.big-circle {
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: -1;
	opacity: 0.5;
	height: 80%;
}
.medium-circle {
	position: absolute;
	top: 30%;
	right: 30%;
	z-index: -1;
	height: 60%;
	opacity: 0.4;
}
.small-circle {
	position: absolute;
	bottom: 0%;
	left: 20%;
	z-index: -1;
}

.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 20%;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;

	}
  .projects{
    flex-direction: column;
  }
  .contact{
    flex-direction: column;
  }
  .contactPage{
    flex-direction: column;
    align-content: center;
    justify-content: center;
    
  }
  .cloud{ 
    flex-direction: column;
    flex-wrap: wrap;
    flex-shrink: 4;
    padding-bottom: 5%;
  }
  
    .image,
  .middle{
    flex-direction: column;
    flex-shrink: 4;
    padding-bottom: 5%;
    flex-direction: column;
    width: 70%;
    flex-wrap: wrap;
  }

	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
	}
	.intro-text p {
		font-size: 18px;
	}
	.cta {
		padding: 10px 0px 0px 0px;
	}
	.laptop-select {
		bottom: 5%;
		right: 50%;
		width: 50%;
		transform: translate(50%, 5%);
	}
	.cover img {
		height: 70%;
    width: 80%;
    padding-top: 5%;
	}
	.small-circle,
	.medium-circle,
	.big-circle {
		opacity: 0.2;
	}
}
