body{
    background-color: #FA8072;
  float: center;
  margin: 0;
  height: 100%;
  width: 100%;
 
  }

  .SunnySide{
      text-align: center;
    justify-content: center;
    display: flex;
}
  h1{
    text-align: center;
    flex: 1;
  }
  h2{
    
    text-align: center;
    flex: 1;
  }
  p{
    margin-left: auto;
    margin-right: auto;
      text-align: center;
      flex: 1;
      width: 60%;
      justify-content: center;
  }
 div{
  
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
 img{
     justify-content: center;
     flex: 1;
     width: 60%;
     height: auto;
 }


 @media screen and (max-width: 1024px) {
    img:hover{
        transform: scale(1.5);
       }
 }