

body{
    font-family: 'Poppins', sans-serif;
  background-color: #e6dec1;
    padding: 0.625em;
    overflow-x:hidden;
  float: center;
   margin: 0;
  height: 100%;
  width: 90%;
  font-size: 1em;
  }

  .TheShadeRoom{
      text-align: center;
    justify-content: center;
    display: flex;
}
  h1{
     color: black;
    text-align: center;
    flex: 1;
  }
  
  p{
   
      color: black;
      text-align: center;
      flex: 1;
      width: 100%;
      justify-content: center;
  }
 div{
    color: black;
    text-align: center;
    flex-direction: column;
    justify-content: center;
}
 img{
     justify-content: center;
     flex: 1;
     width: 30%;
     height: auto;
 }
 @media screen and (max-width: 1024px) {
    img: width: 50%;
       }
 }










header {
position: sticky;
  top: 2%;
	display: flex;
	width: 90%;
	height: 10vh;
	margin: auto;
	align-items: center;
	  
}
footer{
  position: sticky;
  bottom: 2%;
	display: flex;
	width: 30%;
	height: 10vh;
	margin: 2% 35%;
	align-items: center;
}


.logo-container,
.nav-links {
	display: flex;
}

.logo-container {
	flex: 1;
}
.logo {
	font-weight: 700;
	margin: 5px;
  font-family: "Lucida Handwriting", "Brush Script MT", cursive;
}
nav {
	flex: 2;
  margin-right: 5px;
  position: sticky;
}
.nav-links {
	justify-content: space-evenly;
	list-style: none;
}
.nav-link {
	color: #333;
	font-size: 18px;
	text-decoration: none;
}

.presentation {
	display: flex;
	width: 90%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
  
}
.introduction {
	flex: 1;
}

@media screen and (max-width: 1024px) {
	.presentation {
		flex-direction: column;

	}
